.order_form
  %h1.title= @order.title
  %p.description= @order.description
  %h3.price= number_to_currency @order.price/100.0
  %br
  %hr{:width => "100%"}
  
  %p
    %h4 Please confirm the following order details:
    %br
    [some reader details]
  
  %p
    = link_to "Purchase via PayPal", checkout_order_path